{%for block in section.blocks %}
<div class="brasserie-engagements-container" >
	<h2 class ="brasserie-engagements-title" >{{block.settings.titre}}</h2>
	<p class ="brasserie-engagements-texte" >{{block.settings.texte}}</div>
</div>
{%endfor%}

{% style %}



{% endstyle %}

{% schema %}
{
    "name": "engagements",
    "class" : "engagements",
    "settings": [
        {
            "type":"text",
            "label":"home story",
            "id":"heading"
        }
    ],
    "blocks": [
        {
            "type":"text",
            "name":"home story",
            "settings":[
                  {
                  	"type":"text",
                  	"label":"titre",
                  	"id":"titre"
                  },
                  {
                  	"type":"text",
                  	"label":"texte",
                  	"id":"texte"
                  }
            ]
     } 
],
"presets" : [
    {
    "category":"text",
    "name": "engagements" 
    }
]

}
{% endschema %}


