{%for block in section.blocks %}
<div class="brasserie-notrehistoire-container-master" style="background-image: url('{{block.settings.image-fond | img_url:'master'}}');">  
	<h2 class="brasserie-notrehistoire-container-master-titre" >{{block.settings.titre}}</h2>
    <div class="brasserie-notrehistoire-container" >
        <div class="brasserie-notrehistoire-container-1">
            <div class="brasserie-notrehistoire-container-1-texte">
            
            </div>
            <div class="brasserie-notrehistoire-container-1-image">
            
            </div>
        </div>
        <div class="brasserie-notrehistoire-container-2">
            <div class="brasserie-notrehistoire-container-2-image">
            
            </div>
            <div class="brasserie-notrehistoire-container-2-texte">
            
            </div>
        </div>
    </div>
</div>
{%endfor%}

{% style %}
{% endstyle %}

{% schema %}
{
    "name": "notre histoire",
    "class" : "notre-histoire",
    "settings": [
        {
            "type":"text",
            "label":"engagements",
            "id":"heading"
        }
    ],
    "blocks": [
        {
            "type":"text",
            "name":"engagements",
            "settings":[                  
				{
                  	"type":"text",
                  	"label":"titre",
                  	"id":"titre"
                  },
				{
                  	"type":"image_picker",
                  	"label":"image-fond",
                  	"id":"image-fond"
                  }
            ]
     } 
],
"presets" : [
    {
    "category":"image",
    "name": "notre histoire" 
    }
]

}
{% endschema %}