{%for block in section.blocks %}
<div class="brasserie-quisommesnous-container" >
	<h2 class ="brasserie-quisommesnous-title" >{{block.settings.title}}</h2>
	<p class ="brasserie-quisommesnous-texte" >{{block.settings.texte}}</div>
</div>
{%endfor%}

{% style %}



{% endstyle %}

{% schema %}
{
    "name": "qui sommes nous",
    "class" : "qui-sommes-nous",
    "settings": [
        {
            "type":"text",
            "label":"home story",
            "id":"heading"
        }
    ],
    "blocks": [
        {
            "type":"text",
            "name":"home story",
            "settings":[
                  {
                      "type":"image_picker",
                      "label":"section story image",
                      "id":"section-story-image"
                  },
                  {
                  	"type":"text",
                  	"label":"section story title",
                  	"id":"section-story-title"
                  },
                  {
                  	"type":"text",
                  	"label":"chapo",
                  	"id":"section-story-chapo"
                  },
                  {
                  	"type": "text",
                  	"id": "section-story-content",
                  	"label": "section story content"
                  },
                  {
                  	"type": "text",
                  	"id": "section-story-author",
                  	"label": "section story author"
                  }
            ]
     } 
],
"presets" : [
                    {
                        "category":"text",
                        "name": "qui sommes nous" 
                    }
                    ]

}
{% endschema %}


