{%for block in section.blocks %}
    <div class="catalog-category_container" >
        <div class="text-content">
            <h1 class ="catalog-category_title" >{{block.settings.heading}}</h1>
            <p class="presentation_text">{{block.settings.presentation}}</p>
        </div>

    </div>
{%endfor%}

{% style %}

.catalog-category_container {
	position: relative;
	width: 100%;
	background-image: url("https://cdn.shopify.com/s/files/1/0650/7049/8025/files/Background2_home.png?v=1656155138");
}

h1 {
	color: #FFFFFF;
	font-weight: 700;
}

.text-content {
    position: relative;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	padding: 100px;
}

.presentation_text {
    font-size: 1.5rem;
	color: #FFFFFF;
}

{% endstyle %}

{% schema %}
{
    "name": "brasserie header",
    "class" : "section",
    "settings": [
        {
            "type":"text",
            "label":"title catalog",
            "id":"heading"
        }
    ],
    "blocks": [
        {
            "type":"text",
            "name":"title catalog",
            "settings":[
                        {
                            "type":"text",
                            "label":"H1 homepage",
                            "id":"heading"
                        },
                        {
                            "type":"text",
                            "label":"text_presentation",
                            "id":"presentation"
                        },
                        {
                            "type":"image_picker",
                            "label":"your image",
                            "id":"image-bg"
                        }
                    ]
     } 
],
"presets" : [
                    {
                        "category":"image",
                        "name": "brasserie header" 
                    }
                    ]

}
{% endschema %}


