{%for block in section.blocks %}
    <div style="background-image: url('{{block.settings.image-fond | img_url:'master'}}');" class="header-banniere-container-master" >
        <div class="header-banniere-container">
            <h1 class ="header-banniere-titre" >{{block.settings.heading}}</h1>
            <p class="header-banniere-description">{{block.settings.description}}</p>
        </div>
    </div>
{%endfor%}

{% style %}

.header-banniere-container-master{
	position: relative;
	width: 100%;
}

.header-banniere-container{
    position: relative;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	padding: 100px;
	background-repeat: no-repeat;
    background-size: cover;
}


.header-banniere-container h1 {
	color: #FFFFFF;
	font-weight: 700;
}

.header-banniere-description{
    font-size: 1.5rem;
	color: #FFFFFF;
}

{% endstyle %}

{% schema %}
{
    "name": "header banniere",
    "class" : "header-banniere",
    "settings": [
        {
            "type":"text",
            "label":"titre",
            "id":"heading"
        }
    ],
    "blocks": [
        {
            "type":"text",
            "name":"header banniere",
            "settings":[
                {
                "type":"text",
                "label":"heading",
                "id":"heading"
                },
                {
                "type":"text",
                "label":"description",
                "id":"description"
                },
                {
                "type":"image_picker",
                "label":"image-fond",
                "id":"image-fond"
                }
		]
	}
],
"presets" : [
                    {
                        "category":"image",
                        "name": "header banniere" 
                    }
                    ]

}
{% endschema %}


