{%for block in section.blocks %}
    <div class="catalog-category_container" >
        <div class="text-content">
            <h1 class ="catalog-category_title" >{{block.settings.heading}}</h1>
            <p class="presentation_text">{{block.settings.presentation}}</p>
        </div>

    </div>
{%endfor%}

{% style %}

.catalog-category_container {
	position: relative;
	height: 858px;
	background-image: url("{{block.settings.image-bg}}");
    background-repeat: no-repeat;
    background-size: cover;
}

.text-content {
    position: relative;
	top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	text-align: center;
    left: 52%;

	width: 45%;
	color: #FFFFFF;
}

.text-content h1 {
	font-weight: 700;
	color: #FFFFFF;
}

.presentation_text {
    font-style: italic;
}

{% endstyle %}

{% schema %}
{
    "name": "homepage header",
    "class" : "section",
    "settings": [
        {
            "type":"text",
            "label":"title catalog",
            "id":"heading"
        }
    ],
    "blocks": [
        {
            "type":"text",
            "name":"title catalog",
            "settings":[
                        {
                            "type":"text",
                            "label":"H1 homepage",
                            "id":"heading"
                        },
                        {
                            "type":"text",
                            "label":"text_presentation",
                            "id":"presentation"
                        },
                        {
                            "type":"image_picker",
                            "label":"your image",
                            "id":"image-bg"
                        },
                        {
                            "type":"image_picker",
                            "label":"your image bg",
                            "id":"image-bg-header"
                        }
                    ]
     } 
],
"presets" : [
                    {
                        "category":"image",
                        "name": "homepage header" 
                    }
                    ]

}
{% endschema %}