
    <div class="section-story" >

        <h2 class ="section-story-heading" >{{block.settings.section-story-heading}}</h2>
        <h3 class ="section-story-chapo" >{{block.settings.section-story-chapo}}</h3>
        <div class ="section-story-content" >{{block.settings.section-story-content}}</div>
        <div class ="section-story-author" >{{block.settings.section-story-author}}</div>  
    </div>

{% style %}

.catalog-category_container {
text-align: center
}

{% endstyle %}

{% schema %}
{
    "name": "home story",
    "class" : "section",
    "settings": [
        {
            "type":"text",
            "label":"title home story",
            "id":"section-story-heading"
        }
    ],
    "blocks": [
        {
            "type":"text",
            "name":"title home story",
            "settings":[
                        {
                            "type":"text",
                            "label":"title story",
                            "id":"section-story-title"
                        },
                        {
                            "type":"text",
                            "label":"title chapo",
                            "id":"section-story-chapo"
                        },

{
                            "type": "text",
                            "id": "section-story-content",
                            "label": "Story content"

                        },
                        {
                        "type": "text",
                        "id": "section-story-author",
                        "label": "author"

                    },
                    ]
     } 
],
"presets" : [
                    {
                        "category":"image",
                        "name": "home story" 
                    }
                    ]

}
{% endschema %}


