{%for block in section.blocks %}
<div class="home-scop-section-container">
    <div class="home-scop-image">
        <img src="{{block.settings.home-scop-image | img_url:'master'}}">
    </div>
    <div class="home-scop-section-info">
        <h2>{{block.settings.home-scop-titre}}</h2>
        <h3>{{block.settings.home-scop-chapo}}</h3>
      <p>{{block.settings.home-scop-text}}</p>	
    </div>
</div>
{%endfor%}

{% style %}
.home-scop-section-container {
	display:flex;
	margin:3%;

}

.home-scop-image {
	width:30%;
}

.home-scop-section-info {
	width:70%
	border-bottom: 1px solid bottom;
}

.home-scop-section-info h2{
	margin: 2%;
	font-size: 200%;
border-bottom: 1px solid white;
width: fit-content;
	
}

.home-scop-section-info h3{
	margin: 2%;
	font-size: 100%;
	text-transform: uppercase;
font-family: "MundaneNouveauRegular";
}

.home-scop-section-info p{
	margin: 2%;
	font-size: 80%;
font-family: "Minion-DisplayItalic"

}
{% endstyle %}

{% schema %}
{
    "name": "home-scop-section",
    "class" : "section",
    "settings": [
        {
            "type":"text",
            "label":"home scop section",
            "id":"heading"
        }
    ],
    "blocks": [
        {
            "type":"text",
            "name":"home scop section",
            "settings":[                  
				{
                  	"type":"image_picker",
                  	"label":"home scop image",
                  	"id":"home-scop-image"
                  },
				{
                    "type":"text",
                    "label":"home scop titre",
                    "id":"home-scop-titre"
                },
				{
                  	"type":"text",
                  	"label":"home scop chapo",
                  	"id":"home-scop-chapo"
                  },
				  {
                  	"type":"text",
                  	"label":"home scop text",
                  	"id":"home-scop-text"
                  }
            ]
     } 
],
"presets" : [
    {
    "category":"image",
    "name": "home scop section" 
    }
]

}
{% endschema %}
