<div class="section-nosbieres-container-principal">
    <div class="section-nosbieres-container-secondaire-texte">
        <h2 class="section-nosbieres-titre-petit">{{block.settings.heading-1}}</h2>
        <h2 class="section-nosbieres-titre-normal">{{block.settings.heading-2}}</h2>
        <p class="section-nosbieres-description">{{block.settings.description}}</p>
        <button class="section-nosbieres-button">{{block.settings.lien-1}}</button>
    </div>    

    <div class="section-nosbieres-container-secondaire-image">
        <img class="" src="" alt="">
    </div>
</div>

{% stylesheet %}
{% endstylesheet %}

{% schema %}
{
    "name": "Section Nos Bières",
    "class": "section",
    "settings": [
        {
            "type":"text",
            "label":"Titre petit",
            "id":"heading-1"
        },
        {
            "type":"text",
            "label":"Titre normal",
            "id":"heading-2"
        },
        {
            "type":"text",
            "label":"Description",
            "id":"description"
        },
        {
            "type": "url",            
            "label": "Lien vers la page Nos bières",
            "id": "lien-1"
        }
    ],
    "blocks": [
        {
            "type":"image_picker",
            "name":"Image du produit",
            "settings": [
                {
                    "type":"image_picker",
                    "label":"Image du produit",
                    "id":"image-produit"
                }
            ]
        }
    ],
"presets" : [
    {
        "category":"image",
        "name": "Section Nos Bières" 
    }
]
}
{% endschema %}

{% javascript %}
{% endjavascript %}
