{%for block in section.blocks %}
<div class="home-scop-section-container" style="background-image:url('https://cdn.shopify.com/s/files/1/0650/7049/8025/files/big-big-black-wall-bg.png?v=1656547568');">
    <div class="home-scop-image">
        <img src="{{block.settings.home-scop-image | img_url:'master'}}">
    </div>
    <div class="home-scop-section-info">
        <div class="titre">{{block.settings.home-scop-titre}}</div>
        <div class="chapo">{{block.settings.home-scop-chapo}}</div>
      <div class="texte">{{block.settings.home-scop-text}}</div>	
    </div>
</div>
{%endfor%}

{% style %}
.home-scop-section-container {
	display:flex;
	margin:7%;
	border-bottom: 1px solid white;
	padding-bottom: 5%;

}

.home-scop-image {
	width:30%;
}

.home-scop-section-info {
	width:70%
	
}

.home-scop-section-info .titre{
	margin: 2%;
	font-size: 50px;
	border-bottom: 1px solid white;
	width: fit-content;
	
}

.home-scop-section-info .chapo{
	margin: 2%;
	font-size: 35px;
	text-transform: uppercase;
	font-family: "MundaneNouveauRegular";
}

.home-scop-section-info .texte{
	margin: 2%;
	font-size: 20px;
font-family: "Minion-DisplayItalic"

}

.titre {
	font-size: 50px;
	font-weight: 700;
}

.chapo {
	font-size: 35px;
}


{% endstyle %}

{% schema %}
{
    "name": "home-scop-section",
    "class" : "section",
    "settings": [
        {
            "type":"text",
            "label":"home scop section",
            "id":"heading"
        }
    ],
    "blocks": [
        {
            "type":"text",
            "name":"home scop section",
            "settings":[                  
				{
                  	"type":"image_picker",
                  	"label":"home scop image",
                  	"id":"home-scop-image"
                  },
				{
                    "type":"text",
                    "label":"home scop titre",
                    "id":"home-scop-titre"
                },
				{
                  	"type":"text",
                  	"label":"home scop chapo",
                  	"id":"home-scop-chapo"
                  },
				  {
                  	"type":"text",
                  	"label":"home scop text",
                  	"id":"home-scop-text"
                  }
            ]
     } 
],
"presets" : [
    {
    "category":"image",
    "name": "home scop section" 
    }
]

}
{% endschema %}
