{%for block in section.blocks %}
    <div class="histoire-personnage-container" >
      	<div class="quisommesnous-container">
            <h2 class ="catalog-category_title" >{{block.settings.titre-1}}</h2>
            <p class="presentation_text">{{block.settings.texte}}</p>
        </div>
    </div>

<div class="histoire-personnage-container">
    <div class="histoire-personnage-container-nom">
        <img class="histoire-personnage-image" src="" alt="">
        <h3 class="histoire-personnage-nom"></h3>
    </div>
    <p class="histoire-personnage-description"></p>
</div>
{%endfor%}

{% style %}

.histoire-personnage-container{
	position: relative;
	width: 100%;
	background-image: url("https://cdn.shopify.com/s/files/1/0650/7049/8025/files/Background2_home.png?v=1656155138");

}

.header-notre-brasserie {
    position: relative;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	padding: 100px;
	background-image: url("https://cdn.shopify.com/s/files/1/0650/7049/8025/files/page-brasserie-header_ba49d3cc-6232-438d-ace3-1b6827d6b35e.png?v=1656084922");
	background-repeat: no-repeat;
    background-size: cover;
}


.header-notre-brasserie h1 {
	color: #FFFFFF;
	font-weight: 700;
}

.quisommesnous-container h2 {
	font-size: 40px;
	font-weight: bold;
	color: white;
}

.quisommesnous-container {
	margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
 	align-items: center;
    text-align: justify;
	width: 80%;
	padding: 50px;
}

.quisommesnous-container span {
    height: 1px;
    width: 30%;
    background-color: aqua;
}

.presentation_text {
    font-size: 1.5rem;
	color: #FFFFFF;
}

{% endstyle %}

{% schema %}
{
    "name": "qui sommes nous",
    "class" : "quisommesnous",
    "settings": [
        {
            "type":"text",
            "label":"titre",
            "id":"heading"
        }
    ],
    "blocks": [
        {
            "type":"text",
            "name":"qui sommes nous",
            "settings":[
                        {
                            "type":"text",
                            "label":"titre-1",
                            "id":"titre-1"
                        },
						{
                            "type":"text",
                            "label":"texte",
                            "id":"texte"
                        }
                    ]
     } 
],
"presets" : [
                    {
                        "category":"image",
                        "name": "qui sommes nous" 
                    }
                    ]

}
{% endschema %}


