<div class="reviews-container">
  {% comment %}Start automatically added Judge.me widget{% endcomment %}
  {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true, product: product %}
{% comment %}End automatically added Judge.me widget{% endcomment %}
</div>

{% style %}

.reviews-container {
	width:70%;
	margin:auto;
}
.jdgm-sort-dropdown {
	color:white;
}
.jdgm-prev-badge__stars{
font-size: 20px;
}
.jdgm-prev-badge__text{
font-size: 22px;
margin-left: 10px

}

.jdgm-prev-badge{line-height: 0;
position: absolute;
left: 180px;
top: 92%;}

{% endstyle %}
{% schema %}
{
    "name": "judgeme2",
    "class" : "section",
    "settings": [
        {
            "type":"text",
            "label":"judgme2",
            "id":"heading"
        }
    ],

"presets" : [
                    {
                        "category":"image",
                        "name": "judgme2" 
                    }
                    ]

}
{% endschema %}
