{%for block in section.blocks %}
{% comment %}Start automatically added Judge.me widget{% endcomment %}
  <div class="product__text">
    {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', concierge_install: true, product: product %}
  </div>
{% comment %}End automatically added Judge.me widget{% endcomment %}

{%endfor%}

{% style %}

{% endstyle %}

{% schema %}
{
    "name": "comments",
    "class" : "processus-fabrication",
    "settings": [
        {
            "type":"text",
            "label":"comments",
            "id":"heading"
        }
    ],
    "blocks": [
        {
            "type":"text",
            "name":"comments",
            "settings":[                  
				{
                  	"type":"text",
                  	"label":"titre",
                  	"id":"titre"
                  },
				{
                    "type":"image_picker",
                    "label":"image-1",
                    "id":"image-1"
                },
				{
                    "type":"image_picker",
                    "label":"image-fond",
                    "id":"image-fond"
                }
            ]
     } 
],
"presets" : [
    {
    "category":"image",
    "name": "comments" 
    }
]

}
{% endschema %}