{%for block in section.blocks %}
<h2 class=" mundane brasserie-localisation-container-master-titre" style="text-align:center;">{{block.settings.titre}}</h2>

<div class="brasserie-localisation-container-master">

	<div class="powr-map" id="e6f02747_1656581423"><script src="https://www.powr.io/powr.js?platform=shopify"></script></div>
  	
	
  <div class="brasserie-localisation-container-coordonnees">
			<h4>Adresse : </h4>
            <p class="brasserie-localisation-adresse">{{block.settings.adresse}}</p>
          	<h4 class="title-horaire">Horaires : </h4>
            <p class="brasserie-localisation-horaires">{{block.settings.horaires-1}}</p>
            <p class="brasserie-localisation-tel">{{block.settings.horaires-2}}</p>
     </div>
</div>
{%endfor%}
{% style %}
.brasserie-localisation-container-master{
	display:flex;
flex-direction: row;
justify-content:center;
align-items:center;
}

.powr-map {
	width:50%;
}

.brasserie-localisation-container-coordonnees {
width:50%;
}



{% endstyle %}
{% schema %}
{
    "name": "localisation2",
    "class" : "localisation2",
    "settings": [
        {
            "type":"text",
            "label":"localisation2",
            "id":"heading"
        }
],
                 
    "blocks": [
        {
            "type":"text",
            "name":"localisation2",
            "settings":[                  
				{
                  	"type":"text",
                  	"label":"titre",
                  	"id":"titre"
                  },
				{
                    "type":"image_picker",
                    "label":"image-carte",
                    "id":"image-carte"
                },
				{
                  	"type":"text",
                  	"label":"adresse",
                  	"id":"adresse"
                  },
				{
                  	"type":"text",
                  	"label":"horaires-1",
                  	"id":"horaires-1"
				},
				{
                  	"type":"text",
                  	"label":"horaires-2",
                  	"id":"horaires-2"
				},
				{
                    "type":"image_picker",
                    "label":"image-fond",
                    "id":"image-fond"
                }
            ]
     } 

    ],

            
"presets" : [
    {
    "category":"image",
    "name": "localisation2" 
    }
]

}
{% endschema %}