<div class="powr-map" id="e6f02747_1656581423"></div><script src="https://www.powr.io/powr.js?platform=shopify"></script>
{% schema %}
{
    "name": "localisation2",
    "class" : "localisation2",
    "settings": [
        {
            "type":"text",
            "label":"localisation2",
            "id":"heading"
        }
    ],

            
"presets" : [
    {
    "category":"image",
    "name": "localisation2" 
    }
]

}
{% endschema %}