<div class="powr-map" id="e6f02747_1656581423"></div><script src="https://www.powr.io/powr.js?platform=shopify"></script>
{% schema %}
{
    "name": "localisation2",
    "class" : "localisation2",
    "settings": [
        {
            "type":"text",
            "label":"localisation2",
            "id":"heading"
        },
                 
		{
           "type":"text",
           "label":"titre",
           "id":"titre"
         },
				{
                  	"type":"text",
                  	"label":"adresse",
                  	"id":"adresse"
                  },
				{
                  	"type":"text",
                  	"label":"horaires-1",
                  	"id":"horaires-1"
				},
				{
                  	"type":"text",
                  	"label":"horaires-2",
                  	"id":"horaires-2"
				}
    ],

            
"presets" : [
    {
    "category":"image",
    "name": "localisation2" 
    }
]

}
{% endschema %}