{%for block in section.blocks %}

<div class="service-section-left" style="background-image: url('{{block.settings.image-service-bg | img_url:'master'}}');">
    <img class ="image-service-left" src="{{block.settings.image-service-left | img_url:'master'}}"/>
    <div class="title-description-service-left">
        <h2>{{block.settings.title-service-left}}</h2>
        <p>{{block.settings.description-service-left}}</p>
    </div>
</div>

{%endfor%}
{% style %}
.service-section-left {
    display: flex;
    width: 69%;
    padding: 2%;
    margin: 2%;
}

.title-description-service-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

{% endstyle %}

{% schema %}
{
    "name": "service section left",
    "class" : "section",
    "settings": [
        {
            "type":"text",
            "label":"service section left",
            "id":"heading"
        }
    ],
    "blocks": [
        {
            "type":"text",
            "name":"service section left",
            "settings":[

            {
                "type":"image_picker",
                "label":"image service left",
                "id":"image-service-left"
            },

            {
                "type":"image_picker",
                "label":"image service bg",
                "id":"image-service-bg"
            },

            {
                "type": "text",
                "label": "title service left",
                "id": "title-service-left"
            },
            
            {
                "type": "text",
                "label": "description service left",
                "id": "description-service-left"
            }
        ]
    } 
],
"presets" : [
                    {
                        "category":"image",
                        "name": "service section left" 
                    }
                    ]

}
{% endschema %}


