{%for block in section.blocks %}
<div class="reassurance-container">
    <h2 class="site-gravure-titre-petit">{{block.settings.titre-petit}}</h2>
    <h2 class="site-gravure-titre-normal">{{block.settings.titre-normal}}</h2>
    <h2 class="site-gravure-ndd">{{block.settings.site-gravure-titre-petit}}</h2>
    <div class="site-gravure-lien"></div>
</div>
{%endfor%}


{% stylesheet %}

.reassurance-container{
	max-height: 400px;
}

{% endstylesheet %}

{% schema %}
{
    "name": "site-gravure",
    "class": "site-gravure",
    "settings": [
        {
            "type":"text",
            "label":"title catalog",
            "id":"heading"
        }
    ],
    "blocks":[
        {
            "type":"text",
            "name":"section site gravure",
            "settings":[
                {
                    "type":"text",
                    "label":"titre-petit",
                    "id":"titre-petit"
                },
				{
                    "type":"text",
                    "label":"titre-normal",
                    "id":"titre-normal"
                }    
            ]
        }        
    ],
"presets" : [
    {
        "category":"text",
        "name": "site-gravure" 
    }
]
}
{% endschema %}


