{%for block in section.blocks %}
<div class="site-gravure-container">
    <h2 class="site-gravure-titre-petit">{{block.settings.titre-petit}}</h2>
    <h2 class="site-gravure-titre-normal">{{block.settings.titre-normal}}</h2>
    <h2 class="site-gravure-ndd">{{block.settings.ndd}}</h2>
    <button class="site-gravure-lien">{{block.settings.lien-1}}</button>
</div>
{%endfor%}


{% stylesheet %}

.site-gravure-container{
	display: flex;
	flex-direction: column;
	background-color: rgba(115,115,115, 0.6);
	padding: 50px;
bk:;
}

{% endstylesheet %}

{% schema %}
{
    "name": "site-gravure",
    "class": "site-gravure",
    "settings": [
        {
            "type":"text",
            "label":"title catalog",
            "id":"heading"
        }
    ],
    "blocks":[
        {
            "type":"text",
            "name":"section site gravure",
            "settings":[
                {
                    "type":"text",
                    "label":"titre-petit",
                    "id":"titre-petit"
                },
				{
                    "type":"text",
                    "label":"titre-normal",
                    "id":"titre-normal"
                },
				{
                    "type":"text",
                    "label":"ndd",
                    "id":"ndd"
                },
				{
                    "type": "url",            
                    "label": "lien-1",
                    "id": "lien-1"
                }
            ]
        }        
    ],
"presets" : [
    {
        "category":"text",
        "name": "site-gravure" 
    }
]
}
{% endschema %}


